{% extends 'base.html.twig' %}

{% block body %}
 <link rel="stylesheet" href="{{asset('style.css')}}">
<div class="text-center loww mb-5">
    <a class="btn btn-dark me-3" href="{{ path('app_user_index') }}">User Crud</a>
    <a class="btn btn-dark me-3" href="{{ path('app_product_index') }}">Product Crud</a>
    <a class="btn btn-dark me-3" href="{{ path('questionIndex') }}">Question Crud</a>
    <a class="btn btn-dark me-3" href="{{ path('app_answer_index') }}">Answer Crud</a>
</div>
{% endblock %}